@media (min-width: 750px) and (max-width: 970px) {

    /*---- common ----*/



.topic{
    font-size: 20px;
    margin-bottom: 18px;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ---- header-area -----*/


.header-area{
    padding-top: 80px;
    padding-bottom:30px;
    font-size: 20px;
}

.topic-header{
    font-size: 34px;
    padding-bottom: 32px;
}

.header-integers{
   font-size: 25px;
   margin-left: 16px;
}

.header-icon-down{
    font-size: 32px;
}

.icon{
   margin-top: -100px;
}

/*---- nav-bar ----*/

.nav-bar{
    font-size: 12px;
}



.nav-with-icon{
    margin-left: 50px;

}


/*------ sinorbis-began----*/

.sinorbis-began-paragraph{
    margin-bottom: 30px;
    line-height: 17px;

}

.sinorbis-began-sub-topic{
    font-size: 14px;
    padding-top: 16px;
    margin-bottom: 10px;
}

.sinorbis-began-content{
    margin-top: 30px;
    font-size: 12px;
}

.image-map{
 width: 100%;
}


/* ---- our-offerings ----*/

.row-offerings{
  margin-top: 40px;
}



.offering-description{
    margin-top: 20px;
}

.font-icon-offerings{
  font-size: 24px;
}

.col-topic-offerings{
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.col-content-offerings{
    font-size: 14px;
}


/*---- clients ----*/

.client-description{
    font-size: 13px;
    margin-top: 20px;
}

.colored-line{
    width: 170px;
}

.client{
    width: 200px;
    height: 80px;
    margin-right: 0;
    padding-right: 0;
}

.client-gallary{
    margin-top: 50px;

}

/*-- section brown --*/

.section-brown{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.section-brown-text{
    font-size: 13px;
}

/*----- sinorbis team ---*/

.content{
    padding-top: 65px;
    padding-bottom: 65px;

}

.member-name{
    font-size: 16px;
    margin-top: 25px;
}

.member-designation{
    font-size: 13px;  
}


/*---- event ------*/

.event{
    padding-top: 70px;
    padding-bottom: 70px;
}

.event-main-topic{
    font-size: 25px;
    margin-bottom: 20px;
}
    
.event-topic{
    color: #ffffff;
}

.event-content{
    font-size: 14px;
    margin-top: 35px;
}


.links> a{
    color: #ffffff;
    line-height: 35px;
    text-decoration: none;
}

.links> a:hover{
    color:#f3814c;
    text-decoration: none;
}


.event-topic{
    font-size: 22px;
}

.event-sub-topic{
    font-size: 16px;
}


.event-body{
    border-left-style: solid;
    border-left-color: #ffffff;
    border-width: 1px;
    padding-left: 65px;
}

.links>a>span{
     float: right;
    margin-right: 35px;

}

/*---- insights ------*/


.col-content-insights{
    font-size: 14px;
    margin-top: 25px;

}

.col-content-insights>a{
    font-size: 14px;
}

.nico{    
    color: #5cc1f1;
    margin-right: 5px;
}

/* --- form--------------*/

.form-topic{
    font-size: 20px;
    padding-bottom: 25px;
}

.form-content{

   padding-right: 8%;
    padding-left: 8%;
}

.text-box{
  
    width: 270px;
    height: 30px;
    padding: 5px;
    margin-right: 25px;

}

.button-subscribe{
    width: 165px;
    height: 30px;
}

.form-content{
    font-size: 14px;
    margin-top: 20px;
}

/*------ contact-us-------*/

.contact-body{
    margin-top: 40px;

}

.contact-content{
    font-size: 14px;
    color: #402c1e;
    margin-top: 25px;
    line-height: 25px;
    margin-bottom: 50px;
    line-height: 14px;

}

.text-box-contact{
    width: 300px;
    height: 30px;
    padding: 10px;

}


.button-send{
    width: 90px;
    height: 30px;
}

.contact-details{
    font-size: 16px;
    margin-bottom: 35px;
}

.contact-icon{

    font-size: 20px;
    margin-right: 25px;
}

/*------- footer------*/

.footer{
    padding-top: 45px;
    padding-bottom: 30px;
}

.footer-icon{
    margine-right: 60px;
}

.footer-header{
    margin-bottom: 40px;
}


.footer-topic{
    font-size: 13px;
}

.second-row-footer{
    margin-top: 15px;
    margin-bottom: 60px;
}


.footer-list>li>span{
     margin-right: 20px;
}


