/* ---- header-area -----*/

.image{
    width: 100%;
    
}

.header-area{
    background-image: url("../images/header-image2.jpg");
    padding-top: 400px;
    padding-bottom:300px;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
}

.topic-header{
    font-size: 40px;
    padding-bottom: 100px;
}

.header-integers{
   color: #f27032;
   font-size: 34px;
   margin-left: 54px;
   margin-right: 6px;

}

.header-icon-down{
    font-family: fontAwesome;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

.icon{
  color: #ffffff;
}

/*---- nav-bar ----*/

.nav-bar{
  color: #3d291a;
    font-size: 14px;
}

.icon-nav-bar{
    margin-right: 5px;
    color: #63c6be;
}

/*------ sinorbis-began----*/
.sinorbis-began{
    padding-top: 100px;
    padding-bottom: 150px;
}

.sinorbis-began-topic{
    color: #3d291a;
    font-size: 24px;
    text-align: center;
}

.sinorbis-began-sub-topic{
    color: #3d291a;
    font-size: 18px;
    text-align: center;
    border-top-style: solid;
    border-top-color:#f27032; 
    border-bottom-style: solid;
    border-bottom-color:#f27032;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sinorbis-began-content{
    margin-top: 50px;
    font-size: 14px;
}

.image-map{
 width: 100%;
}


/* ---- or-offerings ----*/

.row-offerings{
 margin-top: 100px;

}

.our-offerings{
    padding-top: 156px;
    padding-bottom: 200px;
    color: #3d291a;
    background-color: #f5f5f5;

}

.offerings-topic{
    font-size: 24px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color:#f27032;
     border-width: 1px;
    margin-bottom: 40px;
}

.offering-description{
    font-size: 14px;
    text-align: center;
}

.font-icon-offerings{
    color: #64c5be;
    font-family: fontAwesome;
    font-size: 24px;
    text-align: center;  
}

.col-topic-offerings{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-content-offerings{
    text-align: center;
}
.read-more{
    color: #f27032;
    text-align: center;
}

.read-more>a{
    color: #f27032;
}

/*---- clients ----*/

.clients{
padding-bottom: 150px;
    padding-top: 100px;
}


.client-topic{
    font-size: 24px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color:#f27032;
     border-width: 1px;
    margin-bottom: 40px;
}

.client-description{
    font-size: 14px;
    text-align: center;
}